.place__paragraph {
    font-family: "Inter", serif, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #ffffff;
    padding-bottom: 26px;
    margin: 0;
}


.place__paragraph:last-child {
    padding: 0;
}



@media screen and (max-width: 940px) {
    .place__paragraph {
        font-size: 16px;
    }
}